* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

body {
	width: 100%;
}


table {
	margin: 0 auto;
	width: 40%;
	border-collapse: collapse; /*去除边框的间隙*/
}

th {
	height: 40px;
	color: white;
	border: 1px solid #eee;
	background-color: black;
}

.pro {
	background: url("images/arrow.png") 90px no-repeat;
	background-color:black; 
}

td {
	height: 40px;
	text-align: center;
	border: 1px solid #eee;
}