html{
    font-size: 125%;
}
body {
    overflow-x:hidden;
    overflow-y:auto;
    background-color: rgb(203,203,203);
}
header{
	position: relative;
	height: 6%;
	background-color: rgba(0,0,0,0.6);
}
header .logo{
	width: 25%;
	padding: 3%;
	display: inline-block;
}
header .logo img{
	width: 100%;
	height: auto;
}
header .nav{
	position: relative;
    margin: 4%;
    float: right;
}
header .nav li{
	color: grey;
	float: left;
	padding-right: 1%;
    display: list-item;
    margin-left: 20px;
}
header .nav li a{
	color: white;
	text-decoration: none;
}
article{
	margin: 30px;
	padding: 30px;
	background-color: white;
	border-right: 3px solid rgba(0,0,0,0.6);
	border-bottom: 3px solid rgba(0,0,0,0.6);
}
article .author{
	width: 100%;
	height: auto;
	display: inline-block;
	font-size: 10px;
	color: rgba(51, 51, 51,0.81);
}
article h1{
	font-size: 40px;
	font-family: "黑体";
}
article h2{
	font-size: 25px;
	font-family: "黑体";
	color: rgba(51, 51, 51,0.81); 
}
article img{
	position: relative;
	width: 80%;
	height: auto;
}
article ul li{
	list-style-type: none;
}
article .picture{
	padding-left: 5%;
	display: inline-block;
}
article .picture li{
	margin-top: 30px;
	text-align: center;
	display: block;
	border: 1px solid black;
}	
article table{
	width: 100%;
	border: 1px; 
	border-collapse: collapse;
}
article table th{
	background-color: rgba(51, 51, 51,1);
	border: 1px solid rgba(203, 203, 203,0.81);
	color: white;
	text-align: left;
}
article table .name{
	width: 40%;
}
article table .summary{
	background-color: rgba(51,51,51,0.5);
	border-color: transparent;
}
article .register{
	border-left: 4px solid rgba(0,0,0,0.3);
}
article .details{
	position: relative;
    padding-left: 10%;
    font-size: 1em;
    display: block;
}
article .details span{
	width: 30%;
	display: inline-block;
	text-align: right;
	margin-right: 1%;
}
article .input-tip{
	margin-left: 39%;
	font-size: 1em;
	display: inline-block;
	color: rgba(0,0,0,0.3);
}
.submit{
	width: 100%;
	height: 2em;
	color: white;
	font-size: 1em;
	border:none;
	border-radius: 1px;
	background-color: rgb(51, 85, 208);

}
footer{
	height: 3em;
	line-height: 60px;
	text-align: center;
	display: block;
	vertical-align: center;
	color: white;
	background-color: rgba(0,0,0,0.6);