* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

body {
	width: 100%;
}

/*头部样式*/
.log-btn {
	position: fixed;
	right: 30px;

	margin: 20px 10px 20px;
	width: 60px;
	height: 30px;

	font-size: 15px;
	color: white;
	border: 1px solid white;
	background: rgb(231,79,77);
}

/*半透明遮罩*/
.log-mask{
    /*display: none;*/
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(110,110,110,0.6);
}

/*登录面板*/
.log-box {
	/*display: none;*/
	position: fixed;
	top: calc(50% - 85.5px);
	left: calc(50% - 120px);
	overflow: hidden;
	
	padding: 10px 30px;
	width: 180px;
	height: 180px;

	color: white;
	background: rgb(231,79,77);
	border-radius: 10px;
	box-shadow: 0 0 10px black;
}

.log-box header {
	padding-top: 20px;
	cursor: move;
}

.log-box span {
	margin-left: -20px;

	color: white;
	font-size: 20px;
}

.log-box .close-btn {
	float: right;

	margin: 0 -20px 0 0;
	width: 20px;
	height: 20px;

	color: white;
	background-color: rgb(231,79,77);
}

.log-box input, .log-box button {
	margin-top: 20px;
	width: 180px;
	height: 25px;

	color: #fff;
	border: 1px solid white;
}