/*nav close*/
header .home {
    margin-left: 2%;
    width: 1.3rem;
}

header .notification {
    float: right;
    margin-right: 2%;
    width: 1.3rem;
}

header span {
    margin-left: calc(50% - 2% - 24px - 76.9px/2);
    color: white;
    font-size: 1.2rem;
}



section {
    padding-top: 4rem;
}

section .logo {
    width: 100%;
    top: 4rem;
    background-color: rgb(95,192,205);
    border-top: 1px solid white;
    overflow-x: hidden;
}

section .logo img {
    margin: 5% 25% 0;
    width: 50%;
}

section .logo .cele {
    width: 70%;
    margin: 4% 15%;
    color: #ffc865;
    font-size: 1.5rem;
}

section .logo>p {
    margin: .2rem 15%;
    color: white;
}

section .logo>span {
    margin-left:15%;
    color: white;
}

section .details {
    padding: .5rem 0 6rem;
    background-color: white;
}

section .details div {
    padding-left: 15%;
    border-bottom: 1px solid #dddddd;
}

section .details div h3 {
    display: inline-block;
}

section .details div span {
    margin-left: 60%;
}

section .details div p {
    margin: .5rem 0;
    color: #626161;
}


footer {
    position: fixed;
    padding: 0 5%;
    width: 90%;
    bottom: 0;
    background-color: rgba(95,192,205,0.6);
}

footer button {
    float: left;
    margin: 1rem 5%;
    width: 40%;
    height: 4rem;
    font-size: 1.3rem;
    color: white;
    border: none;
    border-radius: .5rem;
}

footer .again {
    background-color: #f66f6f;
}

footer .share {
    background-color: #fbb435;
}