/*nav close*/
header .nav {
    margin-left: 2%;
    width: 1.3rem;
}

header .close {
    float: right;
    margin-right: 2%;
    width: 1.3rem;
}

header span {
    margin-left: calc(50% - 2% - 24px - 48px/2);
    color: white;
    font-size: 1.2rem;
}



section {
    width: 100%;
    background-color: rgb(95,192,205);
    overflow-x: hidden;
}

section .audio {
    position: fixed;
    top: 4rem;
    width: 100%;
    padding: 1rem;
    background-color: #b9e9f5;
}

section .audio img {
    float: right;
    margin-right: 5%;
    width: 1.4rem;
}


/*提示信息*/
section .explain {
    position: fixed;
    margin-top: 7rem;
    padding-left: 10%;
    width: 100%;
    color: white;
    background-color: rgb(95,192,205);
}

section .tell {
    width: 0.9rem;
    height: 1rem;
}


/*投票页*/
section .vote {
    margin: 0 auto;
    padding: 10rem 0;
    width: 100%;
    overflow: hidden;
}


/*角色盒子*/
section div .box {
    float: left;
    margin: 2% 5%;
    width: calc(70%/3);
    height: 6.6rem;
}

section div .box div:first-child {
    height: 5rem;
    box-sizing: border-box;
    border: 3px solid white;
    background-color: #f5c97b;
}

section div .box div:first-child p {
    text-align: center;
    margin: 1.2rem 0;
}

section div .box .number {
    background-color: #83b09a;
}

section div .box:hover {
    background: url(../images/2/option.png) no-repeat;
    background-size: 100% auto;
    background-position: bottom left;
}



footer {
    position: fixed;
    padding: 0 5%;
    width: 90%;
    bottom: 0;
    background-color: rgb(95,192,205);
}

footer hr {
    background-color: #fbb435;
    height: 1px;
    border: none;
}

footer button {
    margin: 1.5rem 10%;
    width: 80%;
    height: 4rem;
    font-size: 1.8rem;
    color: white;
    background-color: #fbb435;
    border: none;
}