@charset "UTF-8";
html {
  font-family: '微软雅黑';
  font-size: 125%;
}

body {
  width: 100%;
  height: 100%;
}

.wrap {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 40rem;
  height: 30rem;
  background-color: rgba(133, 153, 170, 0.6);
}

.bgc {
  margin: -195px -90px;
  width: 1000px;
  height: 988px;
  background-size: cover;
  background-image: url("../img/bgc.png");
  background-position: 0 0;
  transform: rotate(-15deg);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 111, 124, 0.6);
}

.container form {
  position: absolute;
  top: 5rem;
  left: 9.5rem;
  width: 21rem;
  box-shadow: 0 0 1rem #596775;
  border-radius: 0.25rem;
  background-color: #fff;
}

.container form .log-header {
  display: -ms-flexbox;
  display: flex;
  height: 2.7rem;
}

.container form .log-header h3 {
  line-height: 2.7rem;
  margin: 0;
  width: 50%;
  font-size: .9rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.container form .log-header h3:last-child {
  border-left: 1px solid #d9d9d9;
  background-color: #e7e7e7;
  border-radius: 0 .25rem 0 0;
}

.container form .log-body {
  height: 15rem;
  text-align: center;
}

.container form .log-body p {
  box-sizing: border-box;
  line-height: 3rem;
  margin: 0;
  padding-left: 1.5rem;
  height: 3rem;
  font-size: .65rem;
  text-align: left;
  border-bottom: 1px solid #e7e7e7;
}

.container form .log-body p:first-child {
  padding-left: 2.7rem;
  color: #fff;
  border-bottom: 1px solid #e7e7e7;
  background-color: #4a90e2;
}

.container form .log-body p label {
  display: inline-block;
  width: 4.5rem;
  font-weight: 600;
}

.container form .log-body p input {
  width: 10rem;
  height: 1.8rem;
  outline: none;
  border: none;
}

.container form .log-body div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1.5rem;
  line-height: 2rem;
  height: 6rem;
  text-align: left;
}

.container form .log-body div button {
  width: 9rem;
  height: 3rem;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: .25rem;
  background-color: #48d985;
}

.container form .log-body div a {
  width: 10.5rem;
  color: #5f6b76;
  font-size: .7rem;
  font-weight: bold;
  text-align: center;
}

.container form .log-footer {
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  text-align: center;
}

.container form .log-footer p {
  line-height: 3rem;
  box-sizing: border-box;
  margin: 0;
  width: 7rem;
  color: #fff;
  font-size: .7rem;
  background-color: #45535f;
}

.container form .log-footer p + p {
  border-left: 1px solid #647079;
}

.container form .log-footer p:first-child {
  border-radius: 0 0 0 .25rem;
}

.container form .log-footer p:last-child {
  border-radius: 0 0 .25rem 0;
}

.container form .log-footer p:last-child a {
  background-position: 0 -21px;
}

.container form .log-footer p a {
  text-decoration: none;
  padding-left: 1.25rem;
  color: #fff;
  background: url(../img/social.png) no-repeat;
  background-size: auto 38px;
  background-position: 0 0;
}
