* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "微软雅黑";
    color: #333;
}

body,header,div,ul,ol,dl,li,h1,h2,h3,h4,h5,h6,dt,dd,img,a,span,p,table,td,i,input,button,textarea,form,input,button {
    padding: 0;
    margin: 0;
}


body {
    background-color: #f0f0f0;
}

header {
    height: 4rem;
    line-height: 4rem; 
    background-color: #fff;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

h1 {
    height: 4rem;
    font-size: 2rem;
    text-align: center;
}

.container {
    overflow: hidden;
    margin: 2rem auto 0;
    padding: 3% 3%;
    width: 40%;
    max-width: 20rem;
    background-color: #fff;
}

.container div {
    float: left;
    margin: 1%;
    padding: 15.6%;
    border-radius: 10%;
    background-color: #E8830D;
}