* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Helvetica";
    color: #fff;
}

body,header,div,ul,ol,dl,li,h1,h2,h3,h4,h5,h6,dt,dd,img,a,span,p,table,td,i,input,button,textarea,form,input,button{padding:0;margin:0;border:none;}
html{
    height: 100%;
    font-size: 125%;
}

.container {
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
    background: rgba(239, 241, 244, 0.81);
    overflow: hidden;
}


header .info {
    padding-top: 0.5%;
    width: 100%;
    height: 6%;
    background: rgba(95, 192, 205, 0.81);
    overflow: hidden;
}

header .info div {
    float: left;
    width: 32%;
    height: 1.2rem;
}

header .info .info-left{
    margin-left: 2%;
    background: url("images/info-left.png") 0 0 no-repeat;
    background-size: auto 50%;
}

header .info .info-center{
    background: url("images/time.png") center 0 no-repeat;
    background-size: auto 45%;
}

header .info .info-right{
    background: url("images/info-right.png") right 0 no-repeat;
    background-size: auto 45%;
}


header .title {
    padding-bottom: 1%;
    width: 100%;
    background: rgba(95, 192, 205, 0.81);
    overflow: hidden;
}

header .title div {
    float: left;
    width: 32%;
    font-size: 1rem; 
}

header .title .close{
    margin-left: 2%;
    text-align: left;
}

header .title .log{
    text-align: center;
}

header .title .register{
    text-align: right;
}


form input {
    margin-top: 1%;
    padding: 0.5rem 2%;
    width: 100%;
    height: 1.8rem;
    font-size: 0.9rem;
    background-color: white;
    background-image: url(images/Iphone.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: auto 1.8rem;
    /* 
    border-left: 1px solid rgba(110,110,110,0.5);
     */  
}


button {
    width: 100%;
    height: 2.5rem;
    margin-top: 5%;
    font-size: 1.2rem;
    background-color: rgba(95, 192, 205, 0.81);
}

a {
    float: right;
    margin-top: 0.6rem;
    margin-right: 2%;
    color: rgba(95, 192, 205, 0.81);
    font-size: .8rem;
    text-decoration: none;
}