<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fly</title>
  <style media="screen">
    #main,#left,#right{
      height: 200px;
      float: left;
    }
    #main-wrap{
      margin: 0 100px;
    }
    #main{
      width: 100%;
      background: pink;
    }
    #left{
      background: blue;
      width: 100px;
      margin-left: -100%;
      position: relative;
      left: 100px;
    }
    #right{
      width: 100px;
      margin-right: -100px;
      background: green;
    }
  </style>
</head>
<body>
  <!-- 缺点：多了一个 DOM节点 -->
  <section class="layout ued">
    <h1>双飞翼布局</h1>
    <div id="content">
      <div id="main-wrap"><div id="main"></div></div>
      <div id="left"></div>
      <div id="right"></div>
    </div>
  </section>
</body>
</html>
