* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

body {
	width: 100%;
	overflow: hidden; 
}


#show {
	float: left;
	margin-top: 20px;
	margin-left: 12px;
	width: 40px;
	height: 30px;
	background: url(../images/time.png) 0 no-repeat;
	background-size: 44px;
}

#caleSelect {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 268px;
	height: 30px;
}

form {
	margin-left: 20px;
	width: 300px;
	box-shadow: 0 0 5px rgb(231,79,77);
}

select {
	margin:10px 35px;
 	width: 80px;
 	height: 25px;
 	color: rgb(231,79,77);
	text-align: center;
	background-color: white;
	border: 1px solid rgb(231,79,77);
}

#displayMonth {
	float: right;
}

table {
	width: 300px;
}

th {
	height: 30px;
	color: white;
	background: rgb(231,79,77);
}

tr {
	height: 20px;
	color: rgb(231,79,77);
	text-align: center;
}

td:hover{
	background: rgb(231,79,77);
	color: white;
}