* {
	margin: 0;
	padding: 0;
}

.box {
	position: relative;
	margin: 10px 0;
	width: 30%;
	box-shadow: 0 0 5px #edf1f2;
	background-color: #fff;
}



.box p, .box h3, .box span {
	color: #999999;
	font-size: 5px;
}

.boxHead, 
.boxContent ul li, 
.boxContent .charge p, 
.boxContent .charge span,
.boxFooter h4, 
.boxFooter p  {
	box-sizing: border-box;
	border-left: 1px solid #edf1f2;
	border-bottom: 1px solid #edf1f2;
}


.boxHead {
	padding: 10px;
	overflow: hidden;
}

.boxHead img, 
.boxHead h3, 
.boxHead span {
	width: 40%;
	float: left;
}

.boxHead h3, 
.boxHead span{
	padding: 10px;
	font-weight: bold;
}


.boxContent {
	overflow: hidden;
}

.boxContent ul li {
	padding: 10px;
	width: 50%;
	float: left;
	list-style: none;
}


.boxContent .charge p, 
.boxContent .charge span {
	padding: 0 10px;
	width: 30%;
	float: left;
}

.boxContent .charge p {
	width: 40%;
	height: 6em;
	text-align: center;
}

.boxContent .charge span {
	width: 30%;
	height: 2em;
}

.boxContent .charge span strong {
	color: #f13123;
}


.boxFooter h4, .boxFooter p {
	padding: 10px;
}

.boxFooter h4 span {
	color: #f13123;
}

.behind {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;

    transform: rotateY(-180deg); 
    
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
}

.behind h4 {
	text-align: center;
	padding: 30px 30px 0 30px;
}

.behind p {
	padding: 30px 30px 0 30px;
}

.box:hover .behind {
  transform: rotateY(0deg);
  transition: 1s;
}