/*内容样式*/
.main > div + div{
    padding-bottom: 3rem;
    background-color: #fafafa;
}

.main > div + div h4 {
    font-weight: bold;
}

.main > div + div > h4{
    margin-top: 0;
    padding-bottom: 1.5rem;
}

/*企业介绍*/
.intro {
    padding-top: 6rem;
}

.intro img {
    width: 3rem;
    height: 3rem;
}

.intro ul li {
    padding: 1rem 4rem;
}

.intro ul li:last-child {
    padding-top: 2%;
}

@media only screen and (min-width: 990px) {
    .intro ul li:last-child {
        border-left: 1px dashed #999999;
        text-align: left;
    }
}

.intro ul li .number {
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

/*如何学习*/
.how-to-learn ul li h5 {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    line-height: 4.5rem;
    text-align: center;
    color: #29b078;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #e6e6e6;
}

.how-to-learn ul li span {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-left: 1rem;
    width: 12rem;
    color: #999;
}

.how-to-learn ul img {
    margin-left: 1rem;
    width: 2rem;
}

@media only screen and (min-width: 990px) and (max-width: 1199px) {
    .how-to-learn ul li span {
        width: 7rem;
    }
}

/*优秀学员展示*/
#exhibitionCarousel ol {
    margin-bottom: -1rem;
}

#exhibitionCarousel ol li {
    border: 1px solid #eee;
    background-color: #fff;
}

#exhibitionCarousel ol li.active {
    background-color: #29b078;
}

#exhibitionCarousel ul li .exhibition-box {
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 0 0 4px #999999;
    background-color: white;
}

#exhibitionCarousel ul li .exhibition-box h4 {
    margin: 3rem 0;
    font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
    #exhibitionCarousel ul li {
        margin: 0 5rem;
    }
}

/*战略合作企业*/
.cooperative-enterprise ul li {
    margin: 1rem 0;
}

.cooperative-enterprise ul li .cooper-box {
    padding: 2rem .5rem;
    height: 9rem;
    box-shadow: 0 1px 4px #999999;
    background-color: white;
}

.cooperative-enterprise ul li .cooper-box img {
    padding: 0 10%;
    width: 70%;
    height: 100%;
}

@media only screen and (min-width: 992px) {
    .cooperative-enterprise ul li {
        float: left;
        width: 20%;
    }
}

@media only screen and (max-width: 767px) {
    .cooperative-enterprise ul li {
        padding: 1.5rem 6rem;
    }
}

/*友情链接*/
.blogroll {
    padding-bottom: 0 !important;
    background-color: #ffffff !important;
}

.blogroll h4 {
    margin-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.blogroll ul li {
    float: left;
    width: 10%;
    list-style: disc;
    color: #999;
}

@media only screen and (max-width: 767px) {
    .blogroll ul li {
        width: 20%;
    }
}
