* {
	outline: none;
	font-family: "Helvetica";
}

body,header,div,ul,ol,dl,li,h1,h2,h3,h4,h5,h6,dt,dd,img,a,span,p,table,td,i,input,button,textarea,form,input,button {
	padding: 0;
	margin: 0;
	border: none;
}

html{
	height: 100%;
	font-size: 125%;
}

body{
	height: 100%;
}

header{
	text-align: center;
	padding-top:12%; 
	height: 40%;
}

header img{
	text-align: center;
	width: 20em;
	height: auto;
	margin-bottom: 5%;
}

header a{
	padding-top: 20%;
	color: rgba(95,192,251,0.81);
	text-decoration: none;
}

main {
	position: relative;
	height: 30%;
}

main ul {
	display:-moz-box;
    display:-webkit-box;
    display:box;
    width: 100%;
}

main ul li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: center;
    list-style-type: none;
}

main ul li a{
	color: black;
	font-size: 0.8em;
	text-decoration: none;
}

footer{
	position: relative;
	height: 16%;
}

footer li {
	display: inline-block;
    vertical-align: middle;
    width: 32%;
	font-size: 0.5em;
	text-align: center;
	list-style-type: none;
}